
.game {
  border: 2px green solid;
  margin: 5px;
}


/* Global Styling */

body {
    background-color: #2C7A7B!important;
}
.app-body {
    background-color: #4FD1C5;
    max-width: 450px;
    height: 668px;
    margin: auto;
    overflow: scroll;
}
.spacer {
    height: 72px;
    background-color: #4FD1C5;
    max-width: 450px;
    margin: auto;
}

/* Header Menu Stylings */
.header {
    max-width: 450px;
    margin: auto;
    text-align: right;
    background-color: white;
    padding: 1em;
    position: sticky;
    top: 0;
    width: 100%;
}

.header-menu {
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    width: 350px;
    height: 300px;
    margin: auto;
    animation: expand-down 1s;
    overflow-y: hidden;
    border-radius: 20px;
    animation-fill-mode: forwards;
}

.hamburger-link:hover {
    background-color:#B2F5EA;
    color: white;
    border-radius: 20px;
    padding: 0 1em;
    width: 100%;
}

/* Global Modal Stylings */
.modal-overlay {
    position: absolute;
    animation: colorfadein .5s;
    animation-fill-mode: forwards;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.modal {
    animation: fadein .5s;
    overflow-y: hidden;
    border: 0;
    border-radius: 20px;
    /* width: 400px; */
    height: 800px;
    margin: 0 auto;
    text-align: right;
    background-color: white;
    
}

.close-modal-button {
    border-radius: 100px!important;
}

/* Footer Menu Stylings */
.footer {
    max-width: 450px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 1em;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-button {
    border-radius: 20px;
    width: 100%;
}


/* global form stylings */

/* Styles form box */
.form {
    max-width: 60%;
    background-color: #ffffff;
    border-color: #ffffff!important;
    border: solid;
    border-radius: 20px;
    animation: fadein 1s, mymove 1s ;
    animation-fill-mode: forwards;
    margin: auto;
    max-width: 400px;
    padding: .1em;
    text-align: center;
    text-transform: uppercase;
}

.login-box {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
}

@keyframes mymove {
    0% {box-shadow: 0px #285E61;}
    100% {box-shadow: 20px 20px #285E61;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}


@keyframes colorfadein {
    0% {background-color: rgba(0, 0, 0, 0);}
    100% {background-color: rgba(0, 0, 0, .5);}
}

@keyframes expand-down {
    0% {height: 10px}
    100% {height:300px;}
}

/* Styles form headers */
.form-banner {
    background-color: #4FD1C5;
    color: #285E61;
    border-radius: 15px 15px 0px 0px;
    font-size:2em;
    font-weight: bold;
    margin: 0;
    
}

/* styles form input fields */
.form-control {
    width: 150px;
    margin: .5em;
    padding-left: .5em;
    text-align: left;
    border: solid 1px;
    color: #285E61;
    border-radius: 10px;

}

.form-control:hover {
    background-color:#E6FFFA;
}

/* styles labels */
label {
    width: 40%;
    display: inline-block;
    color: #285E61;
}


  /* Log in component */
