/* OPEN GAMES LIST CARD */

.game-card {
    width: 400px;
    background-color:#2C7A7B;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 20px;
    position: relative;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    padding: 1em;
}

/* Global Styling */

body {
    background-color: #2C7A7B!important;
}
.app-body {
    background-color: #4FD1C5;
    max-width: 450px;
    height: 668px;
    margin: auto;
    overflow: scroll;
}
.spacer {
    height: 72px;
    background-color: #4FD1C5;
    max-width: 450px;
    margin: auto;
}

/* Header Menu Stylings */
.header-menu {
    display: grid;
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    width: 350px;
    height: 300px;
    margin: auto;
    animation: expand-down 1s;
    overflow-y: hidden;
    border-radius: 20px;
    animation-fill-mode: forwards;
}

.hamburger-link:hover {
    background-color:#B2F5EA;
    color: white;
    border-radius: 20px;
    padding: 0 1em;
    width: 100%;
}



/* User Profile Stylings */

.profile-body {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.profile-pic {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;

}
.user-name {
    width: 100%;
}

.games {
    width: 100%;
}
.game-item {
    display: flex;
    justify-content: center;
}
/* Global Modal Stylings */
.modal-overlay {
    position: absolute;
    animation: colorfadein .5s;
    animation-fill-mode: forwards;
    top: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.modal {
    animation: fadein .5s;
    overflow-y: hidden;
    border: 0;
    border-radius: 20px;
    width: 400px;
    height: 800px;
    margin: 0 auto;
    text-align: right;    
}

.modal-base {
    background-color: #ffffff;
    border-radius: 20px;
    color: #234E52;
    padding: 1em;
    margin: auto;
    text-align: center;
}

.close-modal-button {
    border-radius: 100px!important;
}

/* Footer Menu Stylings */
.footer {
    max-width: 450px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 1em;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.footer-button {
    border-radius: 20px;
    width: 100%;
}


/* global form stylings */

.form {
    max-width: 60%;
    background-color: #ffffff;
    border-color: #ffffff!important;
    border: solid;
    border-radius: 20px;
    animation: fadein 1s, mymove 1s ;
    animation-fill-mode: forwards;
    margin: auto;
    max-width: 400px;
    padding: .1em;
    text-align: center;
    text-transform: uppercase;
}



/* Styles form headers */
.form-banner {
    background-color: #4FD1C5;
    border-radius: 15px 15px 0px 0px;
    font-size:2em;
    font-weight: bold;
    margin: 0;
    
}

/* styles form input fields */
.form-control {
    width: 150px;
    margin: .5em;
    padding-left: .5em;
    text-align: left;
    border: solid 1px;
    color: #285E61;
    border-radius: 10px;

}

.form-control:hover {
    background-color:#E6FFFA;
}


/* Navbar my games page */
.nav_links {
    display: inline-block;
    color: #fff;
    padding: 5px 7px;
    background-color: #285E61;
    border: none;
    font-size: 12px;
    display: flex;
    line-height: 20px;
    
}

.buttonmygames{margin-right: 10px; padding-left: 52px;}





h1{ color:#285E61; text-align: center; font-family: Verdana; 
    padding-bottom: 10px; padding-top: 5px;} 


.filter-options{display: flex; font-size: 9px;
    padding-left: 1px;}

.filters{width: 100px; height: 20px; text-align: center; margin-right: -45px; 
    border-radius: 6px; color: #285E61; margin-left: 55px;}

.filter-date{width: 80px; height: 20px; text-align: center; margin-right: px; 
        border-radius: 6px; color: #285E61; margin-left: 10px;}
h3{color: #fff;}


.survey {
    border: 0;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    text-align: left;  
    background-color: #fff;  
    padding-left: 40px;
    margin: 0 auto;
}
.icon-survey {
    max-width: 450px;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 1.5em;
    position: sticky;
    bottom: 0;
    width: 90%;
    margin-right: 60px;
}



/* Our Animations */
@keyframes mymove {
    0% {box-shadow: 0px #285E61;}
    100% {box-shadow: 20px 20px #285E61;}
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}


@keyframes colorfadein {
    0% {background-color: rgba(0, 0, 0, 0);}
    100% {background-color: rgba(0, 0, 0, .5);}
}

@keyframes expand-down {
    0% {height: 10px}
    100% {height:300px;}

}